@use '../../styles/partials/globals.scss' as *; 
@use '../../styles/partials/mixins.scss' as *; 
@use '../../styles/partials/typography.scss' as *; 
@use '../../styles/partials/variables' as *; 

.about{
    background-color: rgb(243, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    text-wrap: wrap;
    &__header{
        font-size: 4rem;
        text-decoration: underline;
        padding-bottom: 1rem;
    }

    &__text{
        font-size: 1.5rem;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        line-height: 2rem;
    }

}