@use '../../../styles/partials/globals.scss' as *; 
@use '../../../styles/partials/mixins.scss' as *; 
@use '../../../styles/partials/typography.scss' as *; 
@use '../../../styles/partials/variables' as *; 

.gamePage5{
   @include gamepage;
   justify-content: flex-end; 
//    background-image: url("../../../assets/images/background/SELL.gif");
//    background-size: 250px;

    &__textBox{
        @include topTextPlacement
    }

    &__option{
        @include singleOption
    }
    &__optionA{
    @include optionA
    }

    &__optionB{
    @include optionB
    }

    &__textBoxBottom{
       @include textBottomPlacement
    }

    &__character{
        display: flex;
        flex-direction: row;    
        &--right{
            @include rightCharacter
        }
        &--left{
            @include leftCharacter
        }
    } 

}




