@use '../../styles/partials/globals.scss' as *; 
@use '../../styles/partials/mixins.scss' as *; 
@use '../../styles/partials/typography.scss' as *; 
@use '../../styles/partials/variables' as *; 


.option{
   @include optionDesign; 
    
    &__text{
        text-align: center;
        text-wrap: wrap;
        font-size: 1rem;
        @include tablet{
            font-size: 1.5rem;
        }
    }

}