@use './variables.scss' as *; 
@use "./mixins.scss" as *; 
@use "./typography.scss" as *; 

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
    font-size: 16px;
}
body{
    font-family: "Terminal";
}
.body__block{
    justify-content: center;
    @include bodyBlock; 
    &--character{
        justify-content: flex-end;
        @include bodyBlock; 
    }
}



a{ 
    text-decoration: none;
}


//Animations: 

.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}				
}
//fade in animation
.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;		

	visibility: visible !important;	
}



@keyframes fadeIn {
    0% { opacity: 0;}
	100% { opacity: 1;	}		
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0;}
    
	100% { opacity: 1;	}		
}

.fadeInDelayed{
    -webkit-animation: 5s ease 0s normal forwards 1 fadeinDelay;
    animation: 5s ease 0s normal forwards 1 fadeinDelay;

}
@keyframes fadeinDelay{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadeinDelay{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}