@use './variables.scss' as *; 
@use "./mixins.scss" as *; 
@use "./typography.scss" as *; 

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
    font-size: 16px;
}
body{
    font-family: "Terminal";
}
.body__block{
    display: flex;
    justify-content: flex-end;
    align-items: center;
      margin-top: 3rem;
      margin-bottom: 3rem;
      margin-right:auto; 
      margin-left: auto;
      width: 90vw;
      height: 80vh;
      border-radius: 0.5rem;
      background-color: white;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
  
}

a{ 
    text-decoration: none;
}


//Animations: 

.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}				
}
//fade in animation
.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;		

	visibility: visible !important;	
}



@keyframes fadeIn {
    0% { opacity: 0;}
	100% { opacity: 1;	}		
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0;}
    
	100% { opacity: 1;	}		
}

.fadeInDelayed{
    -webkit-animation: 5s ease 0s normal forwards 1 fadeinDelay;
    animation: 5s ease 0s normal forwards 1 fadeinDelay;

}
@keyframes fadeinDelay{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadeinDelay{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}