@use './variables.scss' as *;
//screen Breakpoints
@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) { 
        @content;
        
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}; 


@mixin phone {
    @media screen and (min-width: $mobile-breakpoint) {
        @content;
    }
}


///Mixins for components
@mixin textBox{
    display: flex;
    flex-direction: column;
    background-color: $pink;
    border-radius: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color:$darker-purple; 
    height: 7rem;
    margin-top: 0.5rem;
    margin-bottom:1rem; 
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    justify-content: center;
    
}

@mixin topTextPlacement {
    width:100%; 
    display: flex;
    justify-content: center;
    align-content: flex-start ;
    position:absolute;
    top:0.25rem; 
    z-index: 1;
}

@mixin textBottomPlacement {
    width:100%; 
    display: flex;
    justify-content: center;
    align-content: flex-start ;
    position:absolute;
    bottom:1rem; 
    z-index: 1;
}

@mixin singleOption{
    display: flex;
    justify-content: center;
    align-content: flex-start ;
    position:absolute;
    bottom:1rem; 
    z-index: 1;
}

@mixin singleOptionTop{
    display: flex;
    justify-content: center;
    align-content: center ;
    position:absolute;
    top:1rem; 
    z-index: 1;
}

@mixin optionA {
    
    display: flex;
    justify-content: center;
    align-content: flex-end ;
    position:absolute;
    bottom:3rem; 
    left: -3rem;

    @include tablet {
        left:-1rem; 
        bottom: 5rem;
    }
    @include desktop{
        left:5rem; 
    }
}

@mixin optionB {
    display: flex;
    justify-content: center;
    align-content: flex-end ;
    position:absolute;
    bottom:3rem; 
    right: -3rem;

    @include tablet {
        right:-1rem; 
        bottom: 5rem;
    }
    @include desktop{
        right:5rem; 
    }
}

@mixin optionDesign{
    height: 8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top:1rem; 
    padding-bottom: 1rem;
    background-color: $pink;
    border-radius: 1rem;
    width:40%; 
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet{
        width:50%; 
        height: auto;
        max-width: 30rem;
    }
    @include desktop{
        width:80%; 
        max-width: 35rem;
    }
    
    &:hover{
        background-color: $dark-purple;
        transition: ease-in-out, 0.25s;

        animation-name: tossing;
        -webkit-animation-name: tossing;	
    
        animation-duration: 1s;	
        -webkit-animation-duration: 1s;
    
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;

    }
}

//mixins for PAGES
@mixin bodyBlock{
    display: flex;
    align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-right:auto; 
      margin-left: auto;
      border-radius: 0.5rem;
    //   background-color: white;
        width: 95vw;
        height: 95vh;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    @include tablet{
        width: 90vw;
        height: 80vh;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

@mixin gamepage{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
}

@mixin leftCharacter{
        max-height: 40vh;
        position: relative;
        right:10rem; 
        @include tablet{
            max-height: 50vh;
            right: 20rem;
            bottom: 0; 
        }
        @include desktop{
            right: 30rem;
            bottom: 0;
        }
}

 @mixin rightCharacter{
        max-height: 40vh;
        display: flex;
        align-items: flex-end;
        position: relative;
        left:11rem; 
        bottom: 0;   
     @include tablet{
         max-height: 50vh;
         left: 20rem;
         bottom: 0; 
     }
     @include desktop{
         left: 30rem;
         bottom: 0;
     } 
}