
//ZARA FONT
@font-face {
    font-family:"Zara";
    src: url("../../assets/fonts/Zara/Zara-Oblique.woff") format("woff"), 
    url("../../assets/fonts/Zara/Zara-Oblique.woff2") format("woff2");  

    font-weight: 600;
}

@font-face {
    font-family: "Zara";
    src: url("../../assets/fonts/Zara/Zara-Regular.woff") format("woff"), 
    url("../../assets/fonts/Zara/Zara-Regular.woff2") format("woff2");
    font-weight: 400;
}

//OTHER FONT