// colors 
$dark-purple:#5F4D9B;
$darker-purple:#1E1832; 
$light-purple:#9F86C0; 
$lighter-purple:#F7F1FF; 
$light-pink: #E0B1CB; 
$pink:#E9AFB9; 
$grey:#606060; 
$black:#000000; 
$white: #ffff; 


//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$mobile-breakpoint: 480px;

