@use '../../../styles/partials/globals.scss' as *; 
@use '../../../styles/partials/mixins.scss' as *; 
@use '../../../styles/partials/typography.scss' as *; 
@use '../../../styles/partials/variables' as *; 

.gamePage4{
   @include gamepage;
   justify-content: flex-end; 
   background: linear-gradient(0deg, rgba(255,183,38,1) 0%, rgba(255,255,255,1) 51%);


    &__textBox{
        @include topTextPlacement
    }

    &__option{
        @include singleOption
    }
    &__optionA{
    @include optionA
    }

    &__optionB{
    @include optionB
    }

    &__textBoxBottom{
       @include textBottomPlacement
    }

    &__character{
        display: flex;
        flex-direction: row;    
        justify-content: center;
        height: 23rem;
        &--right{
            @include rightCharacter
        }
        &--left{
            @include leftCharacter
        }
    } 

}




