@use '../../../styles/partials/globals.scss' as *; 
@use '../../../styles/partials/mixins.scss' as *; 
@use '../../../styles/partials/typography.scss' as *; 
@use '../../../styles/partials/variables' as *; 

.gamePage13{
    @include gamepage;
    justify-content: flex-end; 
    background-image: url("../../../assets/images/background/streetNight.jpg");
    background-position: center;
    background-size: 100%;
 
     &__textBox{
         @include topTextPlacement
     }
 
     &__option{
         @include singleOptionTop
     }
     &__optionA{
     @include optionA
     }
 
     &__optionB{
     @include optionB
     }
 
 
     &__character{
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        &--img{
           height: 24rem;
           padding-left: 3rem;
           padding-right: 3rem;
        }   
        &--girls{
           height: 23rem;
           padding-left: 3rem;
           padding-right: 3rem;
        }
      
    } 
    
 }