@use '../../styles/partials/globals.scss' as *; 
@use '../../styles/partials/mixins.scss' as *; 
@use '../../styles/partials/typography.scss' as *; 
@use '../../styles/partials/variables' as *; 

.gameOver{
display: flex;
flex-direction: column;
&__img{
    height: 12rem;
}
&__fire{
    height:10rem; 
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes grow {
    0% {
      transform: scaleY(0.5);
      transform: scaleX(1);
    }
   
    50% {
    //   transform: scaleX(1);
      transform: scaleY(1);
      transform: scaleX(0.5);

    }
    100%{
        transform: scaleY(0.5);
        transform: scaleX(1);
    }
   
  }
}