@use '../../styles/partials/globals.scss' as *; 
@use '../../styles/partials/mixins.scss' as *; 
@use '../../styles/partials/typography.scss' as *; 
@use '../../styles/partials/variables' as *; 

.gameOver{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: $white;
&__img{
    justify-content: center;
    width: 17rem;
    padding-top: 1rem;
}
&__fire{
    height:10rem; 
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
&__subtext{
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
  padding-top:1.5rem; 
}
&__button{
  border:none; 
  background-color: $dark-purple;
  color: $white;
  font-family: "Terminal" ;
  font-size: 1.5rem;
  padding-left:0.5rem;
  padding-right:0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  &:hover{
    background-color: $light-purple;
  }

}
@keyframes grow {
    0% {
      transform: scaleY(0.5);
      transform: scaleX(1);
    }
   
    50% {
    //   transform: scaleX(1);
      transform: scaleY(1);
      transform: scaleX(0.5);

    }
    100%{
        transform: scaleY(0.5);
        transform: scaleX(1);
    }
   
  }
}