@use '../../../styles/partials/globals.scss' as *; 
@use '../../../styles/partials/mixins.scss' as *; 
@use '../../../styles/partials/typography.scss' as *; 
@use '../../../styles/partials/variables' as *; 

.gamePage5{
    @include gamepage;
    display: flex;
    background: linear-gradient(0deg, rgba(0,80,231,1) 5%, rgba(38,241,255,1) 81%);

    &__character{
        display: flex;
        height: 25rem; 
    }

    &__option{
        @include singleOptionTop
    }

    &__textBoxBottom{
        @include textBottomPlacement
     }

    &__text{
        display: flex;
        background-color: $light-purple; 
        height:3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.5rem;

        justify-content: center;
        align-items: center;
    }

    &__textNcharacter{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}