@use '../../../styles/partials/globals.scss' as*; 
@use '../../../styles/partials/mixins.scss' as *; 
@use '../../../styles/partials/typography.scss' as *; 
@use '../../../styles/partials/variables' as *; 

.gamePage{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;

    &__textBox{
        @include topTextPlacement
    }
    &__optionA{
    @include optionA
    }

    &__optionB{
    @include optionB
    }

    &__textBoxBottom{
       @include textBottomPlacement
    }
}

