@use '../src/styles/partials/mixins.scss' as *;
@use '../src/styles/partials/typography.scss' as *;
@use '../src/styles/partials/variables.scss' as *;
@use '../src/styles/partials/globals.scss' as *;

.app{
background-color: pink;
display: flex;
flex-direction: column;
height: 100vh;
background-image: url("./assets/images/background/repeating-stars-smaller.png") ;
background-repeat: repeat;

}

